modules = ["python-3.10:v18-20230807-322e88b"]

hidden = [".pythonlibs"]
run = "language = \"bash\" run = \"/bin/bash\""

[nix]
channel = "stable-23_05"

[unitTest]
language = "python3"

[deployment]
run = ["sh", "-c", "language = \"bash\" run = \"/bin/bash\""]
deploymentTarget = "cloudrun"
